html(ng-app="home")
    head(lang='en')
        meta(charset='UTF-8')
        title
        link(rel='stylesheet', href='/css/body.css')
        link(rel='stylesheet', href='/css/friends.css')
        link(rel='stylesheet', href='/css/chat.css')
        link(rel='stylesheet', href='/css/albom.css')
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/bootstrap-theme.css')
        script(src='/js/jquery-2.1.3.min.js')
        script(src='/js/underscore.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/angular.min.js')
        script(src='/js/angular-route.js')
        script(src="/socket.io/socket.io.js")
        script(src='/js/home.js')
    body.container-fluid(ng-controller="home")
        .row
            .head
                .headtext
                    button.exit(ng-click="exit()")
                        |Log out
                    |Welcome to Wonderland, {{user.nickname}}!
                    button.search(ng-click="Sch = 'vis'")
                        |Search
        .row
            .menuAll
                .menu.top
                a(href="", ng-click='activePage="home"')
                    .menu.button
                        | My wall
                a(href="", ng-click='activePage="friends"')
                    .menu.button
                        | Friends
                a(href="", ng-click='activePage="chat"')
                    .menu.button
                        | Chatrooms
                a(href="", ng-click='activePage="alboms"')
                    .menu.button
                        | Alboms
                a(href="", ng-click='activePage="news"')
                    .menu.button
                        | News
                .menu.bottom
            //home page *******************************************************************************
            .center(ng-if='activePage=="home"',ng-controller='home')
                .center.topp
                    button.added(ng-click="add='vis'")
                     |Add News
                .lenta
                    .block(ng-repeat="text in history" )
                        .close.glyphicon.glyphicon-remove(ng-click="close(history[$index].id)")
                        .nick
                            |{{history[$index].name}}:
                        br
                        .news
                            |{{history[$index].text}}
                        img.separator(src="/img/block_bot.png")
                .center.bot
            .avatarAll(ng-controller='home')
                img.frame(src="/img/frame_avatar.png", ng-click="clickavatar='vis'")
                .avatar
                    img(ng-src="{{user.avatar}}")
                .addAvatar.hidd(ng-class="clickavatar")
                    .text
                        |Upload a new photo
                        br
                        |Size of your foto
                        br
                        |should be 240x270 px
                    form.post(enctype='multipart/form-data', action='/home/avatar', method='post')
                        input.file(type='file', name='userPhoto')
                        input.but(type='submit', value='Upload Image', name='submit')
                        button.but(type="button" ng-click="cancel()")
                            |Cancel
            .addNews(ng-class="add", ng-controller='home')
                textarea(type="text", class="form-control", rows="5", placeholder="Input your text...", ng-model='mess')
                button.btn.btn-default(ng-click="sendNews()")
                    | Submit
                button.btn.btn-default(ng-click="add='hidd'")
                    |Cancel

            // friends page *******************************************************************************

            .center(ng-if='activePage=="friends"', ng-style='friends', ng-controller='friend')
                .center.topp
                .friends
                    .friend(ng-repeat="name in friends")
                        .name
                            |{{friends[$index].name}}
                        br
                        img.friendAvatar(ng-src="{{friends[$index].avatar}}")
                        a(href="/user/{{friends[$index].name}}")
                            button.openPage
                                |Open page
                        button.sendMessage(ng-click="sendmess(friends[$index].name)")
                            |Send message
                .center.bot

            // chatrooms page *******************************************************************************

            .center(ng-if='activePage=="chat"', ng-controller='chat')
                .center.topp
                .chats
                    .chat
                        .chatNames
                            .chatName(ng-repeat="name in chatroom" ng-click="active(chatroom[$index].name)")
                                |{{chatroom[$index].name}}
                        .chatArea
                            .message(ng-repeat="name in activechatroom.history")
                                .name
                                    |{{activechatroom.history[$index].name}}:
                                    .time
                                        |{{activechatroom.history[$index].time}}
                                .text
                                    |{{activechatroom.history[$index].text}}
                        .chatInput
                            input.mess(ng-model="chatMessage" ng-keypress="$event.keyCode == 13 && send()")
                            button.s(ng-click="send()")
                                |Send
                .center.bot

            // alboms page *******************************************************************************

            .center(ng-if='activePage=="alboms"', ng-controller='alboms')
                .center.topp
                    button.added.up.none(ng-class="vissAlbom", ng-click="up()")
                        |UP
                    button.added(ng-click="_add()")
                        |{{add}}
                .alboms
                    .albom(ng-class="vissAlboms",ng-click="albo(alboms[$index].name)", ng-repeat="name in alboms")
                        .close.glyphicon.glyphicon-remove(ng-click="closeAlbom(alboms[$index].name)")
                        .name
                            |{{alboms[$index].name}}:
                        img.folder(src="/img/folder.png")
                    .albom.none(ng-class="vissAlbom", ng-repeat="name in albom")
                        .close.glyphicon.glyphicon-remove(ng-click="closePicture(albom[$index].name)")
                        img.folder(ng-src="{{albom[$index].picture}}" ng-click="fullSize(albom[$index].picture)")
                .center.bot

            // news page *******************************************************************************
            .center(ng-if='activePage=="news"', ng-controller='news')
                .center.topp
                .lenta
                    .block(ng-repeat="text in history" )
                        .nick
                            |{{history[$index].name}}:
                        br
                        .news
                            |{{history[$index].text}}
                        img.separator(src="/img/block_bot.png")
                .center.bot

            .searchWindow.hidd(ng-class="Sch", ng-controller='home')
                .topText
                    |Input name for search
                input.input(type="text" ng-model="search")
                a(href='user/{{find[$index].name}}', ng-repeat="name in find", ng-if="find[$index].found")
                    .result
                        img.findAvatar(ng-src="{{find[$index].avatar}}")
                        |{{find[$index].name}}
                a(href='', ng-repeat="name in find", ng-if="find[$index].notfound")
                    .result
                        img.findAvatar(ng-src="{{find[$index].avatar}}")
                        |{{find[$index].name}}
                button.btn.btn-default(ng-click="_search()")
                    | OK
                button.btn.btn-default(ng-click="Sch='hidd'")
                    | Cancel


