
/*Добавление альбома*/
.addAlbom {
    position: fixed;
    top: 20%;
    left: 31%;
    height: auto;
    width: 605px;
    padding: 50px;
    background-color: rgb(234, 197, 132);
    border-radius: 15px;
    border: 6px solid black;
    border-style: groove;
}
.topText {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25pt;
}
.addAlbom > .input {
    width: 100%;
    margin-bottom: 40px;
}
.addAlbom > button {
    margin-left: 120px;
}
.albom {
    display: inline-block;
    float: left;
    width: 47%;
    height: auto;
    background-color: rgb(231, 211, 180);
    border: 3px solid;
    margin: 0px 5px 10px 10px;
}
.albom > .folder {
    width: 50%;
    height: 150px;
    margin-left: 70px;
    padding-bottom: 15px;
    transition:width 0.5s ease;
}
.full {
    display: inline-block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
    z-index: 15;
}
.fullImg {
    position: fixed;
    display: block;
    margin:0 auto;
    height: auto;
    width: 100%;
    top: 10%;
}
.fullImg > div {
    position: relative;
    display: block;
    margin:0 auto;
    width: auto;
    max-height: 480px;
    max-width: 640px;
}
.fullImg > div > .img {
    display: inline-block;
    width: auto;
    height: 100%;
    margin: 0 auto;

}
._close {
    height: 30px;
    position: relative;
    float: right;
    padding: 5px 15px 0px 0px;
}
/*добавление фото в альбом*/
.addPicture {
    position: fixed;
    top: 20%;
    left: 31%;
    height: auto;
    width: 605px;
    padding: 50px;
    background-color: rgb(234, 197, 132);
    border-radius: 15px;
    border: 6px solid black;
    border-style: groove;
}
/*Center*/
.center {
    display: inline-block;
    height: auto;
    width: 600px;
    margin-left: 30px;
}
.center.topp {
    background-image: url("../img/center_top.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    height: 138px;
    width: 100%;
    margin-left: 0px;


}
.center.alboms {
    float: left;
    background-color: #ec971f;
    height: 100%;
    width: 100%;
    margin-left: 0px;


}
.center.bot {
    background-image: url("../img/center_bottom.png");
    background-size: 100% 70px;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    height: 70px;
    margin-left: 0px;
}
.added {
    background-image: url("../img/add_new.jpg");
    background-size: contain;
    border: 0px;
    color: #ec971f;
    float: right;
    position: relative;
    top: 70px;
    right: 10px;
}
.added.up {
    float: left;
    left: 10px;
}
.hidd {
    visibility: hidden;
}
.none {
    display: none;
}
.unnone{
    display: inline-block;
}
.vis {
    visibility: visible;
}
.alboms {
    display: inline-block;
    width: 100%;
}
.block {
    width: 100%;
    height: auto;
    background-image: url("../img/block.jpg");
}
.separator {
    width: 100%;
}
.nick {
    color: black;
    margin-left: 25px;
}
.news {
    margin-bottom: 10px;
    margin-left: 25px ;
}




