
/*Center*/
.center {
    display: inline-block;
    height: 100%;
    width: 600px;
    margin-left: 30px;
}
.center.topp {
    background-image: url("../img/center_top.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    height: 138px;
    width: 100%;
    margin-left: 0px;


}
.friends {
    display: inline-block;
    height: auto;
    width: 100%;
}

.friend > .friendAvatar  {
    position: relative;
    bottom: 20px;
    height: 220px;
    width: 170px;
    display: inline-block;
    border: 3px solid;
    margin: 20px;
}
.friend > .name {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 80px;
    height: 30px;
    color: white;
}
.friend > a {
    display: inline-block;
    float: right;
    color:black;
    width: 180px;
    position: relative;
    top: 10px;
    right: 50px;
}
.friend > a:hover {
    text-decoration: none;
    color:black;
}
.friend > a:link {
     text-decoration: none;
    color:black;
}
.friend > a > .openPage {
    width: 180px;
    position: relative;
}
.friend > .sendMessage {
    display: inline-block;
    float: right;
    color:black;
    width: 180px;
    position: relative;
    top: 50px;
    left: 130px;
}
.friends > .friend {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#752201+-1,bf6e4e+13,bf6e4e+87,8c3310+99 */
    background: #752201; /* Old browsers */
    background: -moz-linear-gradient(top,  #584937 -1%,#D3A471 13%,#D3A471 87%,#584937 99%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #584937 -1%,#D3A471 13%,#D3A471 87%,#584937 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #584937 -1%,#D3A471 13%,#D3A471 87%,#584937 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #584937 -1%,#D3A471 13%,#D3A471 87%,#584937 99%); /* IE10+ */
    background: linear-gradient(to bottom,  #584937 -1%,#D3A471 13%,#D3A471 87%,#584937 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#752201', endColorstr='#8c3310',GradientType=0 ); /* IE6-9 */
}
.center.bot {
    background-image: url("../img/center_bottom.png");
    background-size: 100% 70px;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    height: 70px;
    margin-left: 0px;
}

.hidd {
    visibility: hidden;
}
.vis {
    visibility: visible;
}
.separator {
    width: 100%;
}




