@font-face {
    font-family: Knop;
    src: url(../fonts/cpr455aU.ttf);
}
@font-face {
    font-family: Uper;
    src: url(../fonts/BttBtg5D.ttf);
}
@font-face {
    font-family: Sunday;
    src: url(../fonts/kDjPoAdt.ttf);
}

.container-fluid {
    background-color: rgba(72, 43, 7, 0.4);
    background-image: url("../img/background_home.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Sunday;
    min-width: 1290px;
    max-width: 1310px;
}
.body {display: inline;
    min-width: 1290px;
    max-width: 1310px;
}
.head {
    border-radius: 0px 0px 15px 15px;
    height: 70px;
    /*background-color: #000000;*/
    background-image: url("../img/grab_wood.png");
    background-size: contain;
}
.headtext {
    font-family: Uper;
    text-align: center;
    color:#F4DD85;
    font-size: 39pt;
}
 /*Аватар*/
.avatarAll {
    display: inline-block;
    float: right;
    height: 400px;
    width: 350px;
}
.frame {
    position: relative;
    height: 400px;
    width: 350px;
    z-index: 5;
}
.avatar {
    position: relative;
    left: 64px;
    bottom: 301px;
    z-index: 3;
    overflow: hidden;
    height: 265px;
    width: 235px;
}
/*Убираем подчеркивание ссылок*/
body > div:nth-child(2) > div.menuAll > a:hover {
    text-decoration: none;
}
/*Menu*/
.menuAll {
    display: inline-block;
    height: 400px;
    width: 270px;
    margin-left: 30px;
    float: left;
}
.menu {
    width: 265px;
    height: 59px;
    text-align: center;
    line-height: 60px;
}
.top {
    height: 104px;
    background-image: url("../img/top_menu.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.button {
    font-family: Knop;
    font-size: 30pt;
    color: #ffc520;
    background-image: url("../img/button_menu.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
.bottom {
    background-image: url("../img/bottom_menu.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

/*Center*/
.center {
    display: inline-block;
    height: 100%;
    width: 600px;
    margin-left: 30px;
}
.center.topp {
    background-image: url("../img/center_top.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    height: 100%;
    width: 100%;
    margin-left: 0px;


}
.center.lenta {
    float: left;
    background-color: #ec971f;
    height: 100%;
    width: 100%;
    margin-left: 0px;


}
.center.bot {
    background-image: url("../img/center_bottom.png");
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    height: 100px;
    margin-left: 0px;
}
.added {
    background-image: url("../img/add_new.jpg");
    background-size: contain;
    border: 0px;
    color: #ec971f;
    float: right;
    position: relative;
    top: 70px;
    right: 10px;
}
.hidd {
    visibility: hidden;
}
.vis {
    visibility: visible;
}
.addNews {
    position: fixed;
    height: 250px;
    width: 600px;
    border-radius: 15px;
    top: 10%;
    left: 27%;
    background: #752201; /* Old browsers */
    background: -moz-linear-gradient(top,  #752201 0%, #f0b7a1 9%, #f0b7a1 9%, #bf6e4e 89%, #8c3310 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#752201), color-stop(9%,#f0b7a1), color-stop(9%,#f0b7a1), color-stop(89%,#bf6e4e), color-stop(100%,#8c3310)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #752201 0%,#f0b7a1 9%,#f0b7a1 9%,#bf6e4e 89%,#8c3310 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #752201 0%,#f0b7a1 9%,#f0b7a1 9%,#bf6e4e 89%,#8c3310 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #752201 0%,#f0b7a1 9%,#f0b7a1 9%,#bf6e4e 89%,#8c3310 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #752201 0%,#f0b7a1 9%,#f0b7a1 9%,#bf6e4e 89%,#8c3310 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#752201', endColorstr='#8c3310',GradientType=0 ); /* IE6-9 */
}
.addNews > textarea {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 90%;
}
.addNews > button {
    margin-left: 150px;
}

