.container-fluid {
    background-color: rgba(72, 43, 7, 0.4);
}
@font-face {
    font-family: Sunday;
    src: url(../fonts/kDjPoAdt.ttf);
    font-family: Uper;
    src: url(../fonts/BttBtg5D.ttf)
}
form {
    font-family: Sunday;
}
.container-fluid {
    background-color: rgba(72, 43, 7, 0.4);
    background-image: url("../img/background_index.jpg");
    background-size: 100%;
    font-family: Sunday;
    color: #ec971f;
}
.head {
    border-radius: 0px 0px 15px 15px;
    height: 70px;
    margin-bottom: 15px;
    background-image: url("../img/grab_wood.png");
    background-size: contain;
}
.headtext {
    font-family: Uper;
    text-align: center;
    color:#F4DD85;
    font-size: 39pt;
}