@font-face {
    font-family: Sunday;
    src: url(../fonts/kDjPoAdt.ttf);
    font-family: Uper;
    src: url(../fonts/BttBtg5D.ttf)
}
.container-fluid {
    background-color: rgba(72, 43, 7, 0.4);
    font-family: Sunday;
}
.head {
    border-radius: 0px 0px 15px 15px;
    height: 70px;
    background-color: #000000;
}
.headtext {
    font-family: Uper;
    text-align: center;
    color: red;
    font-size: 39pt;
}
.email{
 margin-bottom: 10px;
}
.sign {
    margin-left: auto;
    margin-right: auto;
    float: left;
}
.checkbox {
    padding-left: 20px;
}
.reg {
    margin-left: auto;
    margin-right: auto;
    float: right;
}
.text {
    text-align: center;
    color: #2413ff;
}